@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
	font-size: 16px;
	min-height: 100vh;
}

body { 
	background-color: #333333; 
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Raleway", sans-serif !important;
	color: #E7E7EB;
}

.sidebar__buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 42px 46px;
}

.sidebar__buttons button {
	border: none;
	background: #6e707a;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #e7e7eb;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar__buttons button span {
	vertical-align: middle;
}